*{
	margin: 0;
}
body{
	/*margin: 0;*/
	font-family: 'Architects Daughter', cursive;
}
.logn{
	background: red;
}
.reg{
	list-style-type: none;
	text-align: right;
	margin-right: 55px;
}
.login{
	display: inline-block;
}
.login a{
	text-decoration: none;
	color: white;
	float: right;
	font-weight: bold;
}
.logo img{
	width: 15%;
    height: 97px;
    margin-top: -18px;
    margin-left: 12%;
    padding-bottom: 24px;
}
.logo2 img{
	width: 7%;
    height: 76px;
    margin-left: 60%;
    margin-top: -80px;
}
.logo1{
	background: red;
}
.search-bar{
	text-align: center;
    margin-top: -86px;
    margin-bottom: 30px;
}
#search{
	font-size: 12px;
    height: 34px;
    width: 20%;
    color: #333;
    font-family: 'Architects Daughter', cursive;
    background: #f0f0f0;
    border: none;
    outline: none;
    margin-left: 35px;
    margin-top: 5px;
    padding-left: 10px;
}
.btn{
	border: none;
    color: white;
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    height: 34px;
    line-height: 17px;
    padding: 5px 15px;
    position: absolute;
    text-transform: uppercase;
    outline: none;
    background: red;
    margin-top: 6px;
}
.logoimg{
	width: 25%;
    margin-left: 100px;
    margin-top: -143px;
}

.slide {
	display: block;
}
img {
	vertical-align: middle;
}

.slider {
  max-width: 1150px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.menus ul li{
	list-style-type: none;
	    position: relative;
	        font-size: 22px;
	            cursor: pointer;
}
.scroll {
	text-align: center;
    list-style-type: none;
    font-size: 22px;
    margin-top: -40px;
    padding-top: 44px;
    height: 75px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: red;
}

.scroll li {
    display: inline-block;
    text-align: center;
}

.scroll li a, .dropbtn {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 25px;
}

.scroll li a:hover, .dropdown:hover .dropbtn {
    border: solid 1px #c51d1d;
    background: #fb0a0a;
    padding: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 22px;
    box-shadow: #c51d1d 5px 5px;
}

.scroll li.dropdown {
  display: inline-block;
}

.dropdown-content {
    display: none;
    margin-left: 30px;
    margin-top: 7px;
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 15px;
    padding-bottom: 12px;
    background: #ff4700;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}


.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
#name{
	text-align: center;
	margin-right: 12%;
    color: white;
    margin-bottom: -27px;
    padding-top: 4px;
    font-weight: bold;
}
marquee#marq {
    float: left;
    color: white;
    font-weight: bold;
}
.footer{
	background: red;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer2{
	background: white;
	color: black;
	font-weight: bold;
}
#copy{
	text-align: center;
}
#abt{
	display: inline-block;
}
#abtt{
	list-style-type: none;
    margin-bottom: 69px;
    font-weight: bold;
    font-size: 17px;
}
#abtt1{
	list-style-type: none;
	color: white;
	font-weight: bold;
}
#conct{
	display: inline-block;
	margin-left: 6%;
    margin-right: 6%;
}
#conc{
	list-style-type: none;
    margin-bottom: 3px;
    margin-top: 39px;
    font-weight: bold;
    font-size: 17px;
}
#conc1{
	list-style-type: none;
}
#addr{
	color: white;
	font-weight: bold;
}
.social_li{
	color: white;
	list-style-type: none;
	display: inline-block;
}
#contwith{
	display: inline-block;
	list-style-type: none;
}
.img7{
	width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 47%);
}
.div1{
	display: inline-block;
	border: 1px #66666652 solid;
    width: 224px;
    margin-left: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 47%);
}
.div1:hover {
    background: red;
    color: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 100%);
}
.div1:active {
    background: red;
    color: white;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 100%);
}
.style{
	text-align: center;
    font-weight: bold;
    font-size: 25px;
}